 <header>
        <div class="navbar">
            <div class="logo-container">
                <h1 class="logo">NuPhones</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Past Orders</a></li>
                    @if (Context.Session.GetString("Username") != null)
                    {
                        <li><a href="/Home/Logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="/Account/Login">Login</a></li>
                    }
                    <li>
                        <button class="user-btn">
                            @(ViewBag.Username != null ? ViewBag.Username : "USER")
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>