@using LibraryManagementSystem.Models
@using System.ComponentModel.DataAnnotations
@model List<Member>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library System - Members</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div class="search-bar">
        <div class="search-bar-label">
            Members
        </div>
        <div class="search-bar-input">
            <form method="post" action="/Members/Search">
                <input type="text" name="search" placeholder="Name" value="@ViewBag.Search" required>
                <a href="/Members"><input type="button" value="Clear" id="clear-btn"></a>
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="search-bar-add-btn">
            <a href="/members/add"><button>Add</button></a>
        </div>
    </div>
    <div class="members-table">
        @if (Model.Count > 0)
        {
            <div id="members-table-div">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Joined on</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.Name</td>
                                <td>@x.Phone</td>
                                <td>@x.JoinedOn</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div id="table-data-msg">
                <h1>No members are available currently</h1>
            </div>
        }
    </div>
</body>

</html>