@using LibraryManagementSystem.Models
@model List<Member>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library System - Members</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div class="search-bar">
        <div class="search-bar-label">
            Members
        </div>
        <div class="search-bar-input">
            <form method="post" action="/Members/Search">
                <input type="text" name="search" placeholder="Name">
                <button id="clear-btn" type="reset">Clear</button>
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="search-bar-add-btn">
            <a href="/members/add"><button>Add</button></a>
        </div>
    </div>
    <div class="members-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Joined on</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Name</td>
                        <td>@x.Phone</td>
                        <td>@x.JoinedOn</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</body>

</html>