<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div class="form-body">
        <div class="form-label">
            <h1>Add Book</h1>
        </div>
        <div class="form-data">
            <form method="post" action="/Books/Add">
                <label for="bookname">Name</label>
                <input type="text" id="bookname" name="BookName" pattern="[A-Za-z ]+"
                    title="Only letters and spaces allowed" required />
                <label for="isbn">ISBN</label>
                <input type="text" id="isbn" name="ISBN" pattern="[0-9]{3,10}" title="Enter a valid ISBN number"
                    required />
                <input type="submit" value="Add" />
            </form>
        </div>
         @if (ViewBag.Error != null)
        {
            <p style="color:red;">@ViewBag.Error</p>
        }
    </div>
</body>

</html>