@using System.Diagnostics.Eventing.Reader
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library System - Checkout</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <h1>Checkout</h1>
    <div class="search-bar">
        <div class="search-bar-input">
            <form id="findMember">
                <input type="text" name="search" placeholder="Search user" required>
                <button id="clear-btn" type="reset">Clear</button>
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="search-bar-input">
            <form id="findBook">
                <input type="text" name="search" placeholder="Search book" required>
                <button id="clear-btn" type="reset">Clear</button>
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="search-bar-add-btn">
            <button id="checkoutBtn" disabled>Checkout</button>
        </div>
    </div>
    <div class="members-table">

        <!-- Members Section -->
        <div id="memberSection">
            <h1 id="memberMsg" class="empty-msg"></h1>
            <table id="memberTable">
                <thead>
                    <tr>
                        <th>User name</th>
                    </tr>
                </thead>
                <tbody id="memberTableBody"></tbody>
            </table>
        </div>


        <!-- Books Section -->
        <div id="bookSection">
            <h1 id="bookMsg" class="empty-msg"></h1>
            <table id="bookTable">
                <thead>
                    <tr>
                        <th>Book name</th>
                    </tr>
                </thead>
                <tbody id="bookTableBody"></tbody>
            </table>
        </div>


    </div>

    <script src="/js/checkouts.js"></script>
</body>

</html>