@model List<LibraryManagementSystem.Models.Checkout>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library System - Checkouts</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>

    <div class="search-bar">
        <h1>Checked-out Books</h1>
        <div class="search-bar-add-btn">
            <a href="/Checkouts/CreateCheckout"><button>Checkout</button></a>
        </div>
    </div>

    <div class="members-table">
        @if (Model.Count > 0)
        {
            <div id="members-table-div">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>ISBN</th>
                            <th>Checked out by</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model)
                        {
                            <tr>
                                <td>@c.Book?.Name</td>
                                <td>@c.Book?.ISBN</td>
                                <td>@c.Member?.Name</td>
                                <td>
                                    <form method="post" action="/Checkouts/CheckIn/@c.Id">
                                        <button type="submit" class="action-btn">Check-in</button>
                                    </form>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div id="table-data-msg">
                <h1>No checkout histories are available currently</h1>
            </div>
        }

    </div>
</body>

</html>