@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<div>
    
    <div class="search-container">
        <input type="text" placeholder="search" />
    </div>

    <main class="content">
        <section class="category-section">
            <h2>Recommended</h2>
            <div class="product-card-container">
                <div class="product-card shadow">
                    <img src="~/images/common/motorola-razr-50.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/motorola-razr-50.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/motorola-razr-50.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/motorola-razr-50.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/motorola-razr-50.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="category-section">
            <h2>Latest from Samsung</h2>
            <div class="product-card-container">
                <div class="product-card shadow">
                    <img src="~/images/common/samsung-galaxy-s24-ultra-5g-sm-s928-stylus.jpg" alt="Phone Image"
                         class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/samsung-galaxy-s24-ultra-5g-sm-s928-stylus.jpg" alt="Phone Image"
                         class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/samsung-galaxy-s24-ultra-5g-sm-s928-stylus.jpg" alt="Phone Image"
                         class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/samsung-galaxy-s24-ultra-5g-sm-s928-stylus.jpg" alt="Phone Image"
                         class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/samsung-galaxy-s24-ultra-5g-sm-s928-stylus.jpg" alt="Phone Image"
                         class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="category-section">
            <h2>Latest from Apple</h2>
            <div class="product-card-container">
                <div class="product-card shadow">
                    <img src="~/images/common/apple-iphone-16.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                         alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>