@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NuPhones | Buy trending smartphones</title>
    <link rel="stylesheet" href="~/css/common//base.css" />
    <link rel="stylesheet" href="~/css/home/landing.css" />
    <link rel="stylesheet" href="~/css/common/header.css" />
</head>

<body>
    <header>
    <div class="navbar">
        <div class="logo-container">
            <h1 class="logo">NuPhones</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Past Orders</a></li>
                <li><a href="#">Logout</a></li>
                <li><button class="user-btn">USER</button></li>
                <li>
                    <a href="#">
                        <button class="cart-icon user-btn"><img src="~/images/common/cart.svg" alt="Cart"></button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
    <div class="search-container">
        <input type="text" placeholder="search" />
    </div>

    <main class="content">
        <section class="category-section">
            <h2>Recommended</h2>
            <div class="product-card-container">
                <div class="product-card shadow">
                    <img src="~/images/common/motorola-razr-50.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/motorola-razr-50.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/motorola-razr-50.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/motorola-razr-50.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/motorola-razr-50.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="category-section">
            <h2>Latest from Samsung</h2>
            <div class="product-card-container">
                <div class="product-card shadow">
                    <img src="~/images/common/samsung-galaxy-s24-ultra-5g-sm-s928-stylus.jpg" alt="Phone Image"
                        class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/samsung-galaxy-s24-ultra-5g-sm-s928-stylus.jpg" alt="Phone Image"
                        class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/samsung-galaxy-s24-ultra-5g-sm-s928-stylus.jpg" alt="Phone Image"
                        class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/samsung-galaxy-s24-ultra-5g-sm-s928-stylus.jpg" alt="Phone Image"
                        class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/samsung-galaxy-s24-ultra-5g-sm-s928-stylus.jpg" alt="Phone Image"
                        class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="category-section">
            <h2>Latest from Apple</h2>
            <div class="product-card-container">
                <div class="product-card shadow">
                    <img src="~/images/common/apple-iphone-16.jpg" alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
                <div class="product-card shadow">
                    <img src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        src="~/images/common/apple-iphone-16.jpg" src="~/images/common/apple-iphone-16.jpg"
                        alt="Phone Image" class="product-image" />
                    <div class="product-info">
                        <h3>Moto G45</h3>
                        <p class="price">₹12,000</p>
                        <p class="rating">3.5/5 (3456)</p>
                        <a href="#" class="view-btn">View</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>